Repository batistagroup/knowledgebase, pull requests merged in 2025-02, with the labels that each got.

#1 Git/formatting workflows
  .github/release-drafter.yml
  .github/workflows/quality.yml
  .github/workflows/release-drafter.yml
  .github/workflows/update-major-minor-tags.yml
  .github/workflows/version-bump.yml
  .pre-commit-config.yaml
  docs/git/git.md
  docs/labels.md
  docs/stylesheets/extra.css
  pyproject.toml
  uv.lock
Labels: maintenance

#2 Python/testing and typing best practices
  .cursor/rules/doc-critic.mdc
  .cursor/rules/writing-docs.mdc
  .github/workflows/quality.yml
  .pre-commit-config.yaml
  docs/python/essential-tools.md
  docs/python/tests/intro.md
  docs/python/typing/intro.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Labels: python

#3 maint: prep for publication
  docs/CNAME
  docs/index.md
Labels: maintenance

#4 GIT: a tutorial on pre-commit hooks and github workflows
  .gitignore
  docs/.nav.yml
  docs/git/.nav.yml
  docs/git/git.md
  docs/git/github-workflows.md
  docs/git/intro.md
  docs/git/pre-commit.md
  docs/python/lint.md
  docs/python/template-repo.md
  docs/python/typing/intro.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Labels: git
